
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Conneciton Pool & DataSource -->
    <context:property-placeholder location="classpath:spring/db.properties"/>
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!-- SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mapper/userMapper.xml"/>
        <property name="configLocation" value="classpath:spring/mybatis-config.xml"/>
    </bean>

    <!-- SqlSession -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg ref="sqlSessionFactory"/>
    </bean>

    <!--Transaction 이 필요하다 -->
    <!--insert select update delete 하고 마지막에 commit 해야된다.  sqlSession.commit() / sqlSession.close()-->
    <!--이제 Spring이 commit 알아서 하라고 써줘야함 => AOP 사용 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <constructor-arg ref="dataSource" />
    </bean>

    <!-- -->
    <bean id="helloSpring" class="usermain.HelloSpring" />

    <bean id="userInsertService" class="userservice.UserInsertService">
        <property name="userDTO" ref="userDTO"/>
        <property name="userDAO" ref="userDAOMyBatis" />
    </bean>

    <bean id="userSelectService" class="userservice.UserSelectService">
        <property name="userDAO" ref="userDAOMyBatis"/>
    </bean>

    <bean id="userUpdateService" class="userservice.UserUpdateService">
        <property name="userDAO" ref="userDAOMyBatis" />
    </bean>

    <bean id="userDeleteService" class="userservice.UserDeleteService">
        <property name="userDAO" ref="userDAOMyBatis" />
    </bean>

    <bean id="userDTO" class="userbean.UserDTO" />

    <bean id="userDAOMyBatis" class="userdao.UserDAOMyBatis">
        <property name="sqlSession" ref="sqlSession" />
    </bean>
</beans>